// Learn about this solution to creating custom select styles:
// @link https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/
// https://codepen.io/5t3ph/pen/KKzqEzz

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 200;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.input {
  font-size: 16px;
  // Capitalized to prevent Sass
  // thinking it's the Sass max()
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  // This color is shown before typeahead is initialized and applies its own color.
  background-color: #676767;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

textarea.input {
  resize: vertical;
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.input + label {
  margin-top: 2rem;
}

