@import 'typeahead-standalone-basic'
@import 'button'
@import 'input'

$edge_gap: 12px

*,
*::before,
*::after
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0
  font-family: Helvetica, sans-serif
  font-size: 14px
  line-height: 18px

.page
  display: flex
  flex-flow: column
  height: 100%

// .page .row
//   border: 1px dotted grey

.page .row.header
  flex: 0 1 auto
  // The above is shorthand for:
  // flex-grow: 0
  // flex-shrink: 1
  // flex-basis: auto

.page .row.content
  flex: 1 1 auto

.page .row.footer
  flex: 0 1 40px

.page
  color: black
  background-color: white
  padding-left: 0
  padding-right: 0

  p
    padding: 0.5em $edge_gap
    margin: 0

#server-offline
  text-align: center

.header,
.footer
  color: white
  background-color: #222

.content, .messages
  padding: 1em 0

#simsapa-sidebar .controls
  position: fixed
  top: 0
  left: 0
  padding: 1rem $edge_gap 0.5em $edge_gap
  z-index: 10000
  background-color: white
  width: 100%

#transient-messages
  text-align: center
  min-height: 1.5rem

#button-bar, #settings-wrap
  margin-top: 1em

#search-results
  position: relative
  top: 155px

.dpd-word
  color: #000
  background-color: #fff
  padding: 0.5em $edge_gap
  margin: 0
  border-bottom: 1px solid #888

  &:nth-child(2n)
    background-color: #eeeeee

  &.selected
    background-color: #a6dbf2

  .dpd-header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

  .dpd-details
    padding-top: 0.4em
    font-size: 0.8em

.icon
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor

.hide
  display: none
