@import 'base'
@import 'typeahead-standalone-basic'
@import 'ssp_button'
@import 'input'

$edge_gap: 12px

*,
*::before,
*::after
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0
  font-family: Helvetica, sans-serif
  font-size: 14px
  line-height: 18px

.page
  display: flex
  flex-flow: column
  height: 100%

// .page .row
//   border: 1px dotted grey

.page .row.header
  flex: 0 1 auto
  // The above is shorthand for:
  // flex-grow: 0
  // flex-shrink: 1
  // flex-basis: auto

.page .row.content
  flex: 1 1 auto

.page .row.footer
  flex: 0 1 40px

.page
  color: #000
  background-color: #fff
  padding-left: 0
  padding-right: 0

  p
    padding: 0.5em $edge_gap
    margin: 0

#server-offline
  text-align: center

.header,
.footer
  color: #fff
  background-color: #222

.content
  padding: 0.5rem 0

.messages
  padding: 0.5rem $edge_gap

#simsapa-sidebar .controls-container
  position: fixed
  top: 0
  left: 0
  padding: 1rem 0 0.5rem 0
  z-index: 10000
  background-color: #fff
  width: 100%

#sutta-results-wrap
  position: absolute
  top: 8.5rem

#dict-results-wrap
  position: absolute
  top: 12rem

#suttas-controls,
#dict-controls
  padding-left: $edge_gap
  padding-right: $edge_gap

// Correct the position of the suggestions list for the sutta controls.
#suttas-controls .typeahead-standalone .tt-list
  top: 76px

#transient-messages
  text-align: center
  min-height: 1.5rem

#button-bar, #settings-wrap
  margin-top: 1em

/* .results-wrap
/*   position: relative
/*   top: 155px

#sutta-count, #dict-count
  padding: 0.5em $edge_gap

.search-result
  color: #000
  background-color: #fff
  padding: 0.5em $edge_gap
  margin: 0
  border-bottom: 1px solid #888

  &:nth-child(2n)
    background-color: #eeeeee

  &.selected
    background-color: #a6dbf2

  .result-header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

#deconstructor-wrap p.label
    color: #000
    background-color: #fff
    padding: 0.25em $edge_gap
    margin: 0

.deconstructor-result
  color: #000
  background-color: #fff
  padding: 0.25em $edge_gap
  margin: 0

.icon
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor

span.match
  background-color: yellow

.hide
  display: none

.tabs
  display: flex
  border-bottom: 2px solid #737373
  margin-bottom: 0.5rem

  .tab
    cursor: pointer
    padding: 5px 30px
    color: #000
    font-size: 1rem

    background-color: #ddd
    border-radius: 8px 8px 0 0

    &:first-child
      margin-left: $edge_gap
    &:last-child
      margin-right: $edge_gap

  .tab.selected
    color: #fff
    background-color: #737373
    border-radius: 8px 8px 0 0

#suttas-extras,
#dict-extras
  margin-top: 0.5rem
  display: flex
  align-items: center

  .flex-item
    margin: 0 5px

    &:first-child
      margin: 0

  button, select
    padding: 0.25rem 0.6rem
    font-size: 1rem
    border-radius: 7px
    border: 1px solid #999
    color: #000

    &.active
      background-color: #737373
      color: white
